.login_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  height: 450px;
  margin-top: 100px;
  background-color: #18097b;
  padding-bottom: 30px;
  border-radius:15px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: white;
  font-size: 48px;
  font-weight: 700;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot {
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot span {
  color: #007bff;
  cursor: pointer;
}
/* 
.submit_container {
  display: flex;
  gap: 30px;
  margin: 40px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  color: white;
  background-color: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
} */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f2f2f2; */
  
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.login button {
  /* background-color: #007bff; */
  color: white;
  /* padding: 20px 40px; */
  padding: 15px  30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: large;

}

/* .login button:hover {
  background-color: #0056b3;
} */

.login a {
  color: #007bff;
  text-decoration: none;
}


.switch {
  display: flex;
  justify-content: left;
  align-items: left;
  /* background-color: #f2f2f2; */
  padding: 10px;
  border-radius: 5px;
}

.switch a {
  color: #007bff;
  text-decoration: none;
  justify-content: left;
}

.switch a:hover {
  text-decoration: underline;
}